* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 0 2vmax;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

h1 {
    font: 400 3vmax "bebas";
}

button {
    padding: 1vmax 2vmax;
    font: 500 1vmax "montserrat";
    background-color: transparent;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(11, 11, 11); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    position: absolute;
    right: 0;
    /* padding: 2vmax; */
    cursor: pointer;
    transform: translateX(100%);
    transition: 0.5s all linear;
    display: flex;
}

.right{
    min-height: inherit;
    width: 50%;
    background-color: rgb(194, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    min-height: inherit;
    width: 50%;
    background-color: transparent;
    background-image: url(Miljöbild-Eiktyrne-Quadruple-Batch-II-2.png); 
    background-position: center;
    background-size: cover;
}

p{
    font-size: 2vmax;
    width: 50%;
}

.cross{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 2vmax;
}